@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #1b1b1b;
    --secondary-color: #fff;
    --tertiary-color: #2c3948;
    --accent-color: #f7b500;
    --header-bg-color: hsl(210, 10%, 65%);
    --background-img1: url(../images/bg.jpg);
    font-family: 'Poppins', sans-serif;
    --article-font-primary: 'Merriweather', serif;
}

* {
    box-sizing: border-box;
}

/* reset all styles set on #textcontent 's children including any h1,h2,h3 etc codeblocks or other common html elements*/
/* #textcontent * {
    margin: 0;
    padding: 0;
    font-family: var(--article-font-primary);
} */

/* colors */

/* primary color */
.primary-color {
    color: var(--primary-color);
}

â€

/* secondary color */
.secondary-color {
    color: var(--secondary-color);
}

/* tertiary color */
.tertiary-color {
    color: var(--tertiary-color);
}

/* accent color */
.accent-color {
    color: var(--accent-color);
}

/* header-bg-color */
.header-bg-color {
    background-color: var(--header-bg-color);
}



.artsy-block::after {
    content: " ";
    display: block;
    width: 40%;
    height: 8px;
    background-color: var(--accent-color);
}

body {
    margin: 0;
    padding: 0;
    background-image: var(--background-img1);
    background-repeat: no-repeat;
    /* decrease the brightness of the background image with a filter */
    background-color: #c4c4c4;
    background-blend-mode: multiply;


}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 10px 0;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 10px 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0;
}


body#tinymce {
    background-image: unset;
    /* background-color: white !important; */
}



#login-form>label {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0;
}


#login-form>input {
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}


#login-form>input:focus {
    border: 2px solid var(--tertiary-color);
}

#login-form>button {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

#login-form>button:hover {
    color: var(--secondary-color);
    box-shadow: #171e27 0px 0px 5px 0px;
    scale: 1.05;
}

.hover-slide {
    position: relative;
}

.hover-slide:after {
    content: "";
    position: absolute;
    width: 0;
    height: 6px;
    bottom: -6px;
    right: 0;
    background-color: var(--tertiary-color);
    border-radius: 6px;
    transition: all 0.4s ease-in-out;
    color: var(--tertiary-color);
    opacity: 0;
}

.hover-slide:hover:after {
    width: 100%;
    left: 0;
    /* background-color: var(--accent-color) */
    opacity: 1;
}

#add-article-form input,
#add-article-form textarea {
    font-family: var(--article-font-primary);
}

.outline-base-style:focus,
.outline-base-style:active {
    outline: 2px solid #2c3948;
    outline-offset: -2px;
}

.header-glass {
    /* background: rgba(255, 255, 255, 1.0); */
    background: var(--header-bg-color)/0.5;
    /* opacity: 0.7; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(40, 44, 97, 0.37);
    height: 4rem !important;
}

/* typewriter bar */
.typewriter::after {
    content: '';
    position: absolute;
    right: -1rem;
    top: 0;
    width: .7rem;
    height: 1em;
    background: #2c3948;
    /* border-radius: 10px; */
    animation: blink 1s steps(3, start) infinite;
    background: linear-gradient(90deg, #2c3948, #2c3948);
    background-size: 600%;
    -webkit-animation: blink 1s steps(2, start) infinite;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    translate: 0.5s ease-in-out all;
}

.typewriter-blink::after {
    content: '';
    position: absolute;
    right: -1rem;
    top: 0;
    width: .7rem;
    height: 1em;
    background: #2c3948;
    animation: blink 1s steps(3, start) infinite;
    background: linear-gradient(0deg, #ffffff, #2c3948);
    background-size: 600%;
    -webkit-animation: blink 1s steps(1, start) infinite;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;

    translate: 0.5s ease-in-out all;
}


@-webkit-keyframes blink {
    0% {
        background-position: 0%;
        opacity: 1;
    }

    50% {
        background-position: 50%;
        opacity: 0;
    }

    100% {
        background-position: 300%;
        opacity: 1;
    }
}

@keyframes blink {

    0% {
        background-position: 0%;
        opacity: 1;
    }

    50% {
        background-position: 50%;
        opacity: 0;
    }

    100% {
        background-position: 300%;
        opacity: 1;
    }
}


/* fade in animation */
.fade-in {
    animation: fadeIn ease 1s forwards;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.fade-in-2 {
    animation: fadeIn2 ease 2s forwards;
    -webkit-animation: fadeIn2 ease 2s;
    -moz-animation: fadeIn2 ease 2s;
    -o-animation: fadeIn2 ease 2s;
    -ms-animation: fadeIn2 ease 2s;
}

.fade-in-3 {
    animation: fadeIn3 ease-in-out 2.5s forwards;
    -webkit-animation: fadeIn3 ease-in-out 2.5s;
    -moz-animation: fadeIn3 ease-in-out 2.5s;
    -o-animation: fadeIn3 ease-in-out 2.5s;
    -ms-animation: fadeIn3 ease-in-out 2.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn3 {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadein-slide-up {
    animation: fadein-slide-up ease-in-out 2s forwards;
    -webkit-animation: fadein-slide-up ease-in-out 2s;
    -moz-animation: fadein-slide-up ease-in-out 2s;
    -o-animation: fadein-slide-up ease-in-out 2s;
    -ms-animation: fadein-slide-up ease-in-out 2s;
}

@keyframes fadein-slide-up {
    0% {
        opacity: 0;
        transform: translateY(140px);
        /* transform: scaleX(1.5); */
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* transform: scaleX(1); */

    }
}

.fadein-slide-down-1 {
    animation: fadein-slide-down-1 ease-in-out 3s forwards;
    -webkit-animation: fadein-slide-down-1 ease-in-out 3s;
    -moz-animation: fadein-slide-down-1 ease-in-out 3s;
    -o-animation: fadein-slide-down-1 ease-in-out 3s;
    -ms-animation: fadein-slide-down-1 ease-in-out 3s;
}

@keyframes fadein-slide-down-1 {
    0% {
        opacity: 0;
        transform: translateY(-140px);
        /* transform: scaleX(1.5); */
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* transform: scaleX(1); */

    }
}

.fadein-slide-down-2 {
    animation: fadein-slide-down-2 ease-in-out 4s forwards;
    -webkit-animation: fadein-slide-down-2 ease-in-out 4s;
    -moz-animation: fadein-slide-down-2 ease-in-out 4s;
    -o-animation: fadein-slide-down-2 ease-in-out 4s;
    -ms-animation: fadein-slide-down-2 ease-in-out 4s;
}

@keyframes fadein-slide-down-2 {
    0% {
        opacity: 0;
        transform: translateY(-140px);
        /* transform: scaleX(1.5); */
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* transform: scaleX(1); */

    }
}

.fadein-slide-down-3 {
    animation: fadein-slide-down-3 ease-in-out 5s forwards;
    -webkit-animation: fadein-slide-down-3 ease-in-out 5s;
    -moz-animation: fadein-slide-down-3 ease-in-out 5s;
    -o-animation: fadein-slide-down-3 ease-in-out 5s;
    -ms-animation: fadein-slide-down-3 ease-in-out 5s;
}

@keyframes fadein-slide-down-3 {
    0% {
        opacity: 0;
        transform: translateY(-140px);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}








/* tailwind specific classes/groups etc */

/* .garden-list-item {
    @apply relative after: content-[''] after:block after:w-full after:h-4 after:bg-lime-400 after:top-1 after:-left-8 after:absolute;
} */

/* end of tailwind specific classes/groups etc */